
.product{

  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &__item{
    color: #0B1014;
    padding: 20px;
    border-radius: 12px;
    background: #F2F3F4;
  }

  &__name{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 4px 0 24px 0;
  }
}