
.filter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__input{
    display: none;
  }

  &__label{
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 100px;
    background: #D7E8FF;
    color: #1C6CD5;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 8px;
  }

  &__label-checked{
    border-radius: 100px;
    background: #1C6CD5;
    color: #fff;
  }

}